<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Dimask</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Assignments" asp-action="List">Assignments</a>
                    </li>
                    @if (User.IsInRole("moderator") || User.IsInRole("admin") || User.IsInRole("guest"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="UserAssignment" asp-action="List">Checkout</a>
                        </li>
                        @if (User.IsInRole("admin") || User.IsInRole("guest"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Users" asp-action="Index">Users</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Roles" asp-action="Index">Roles</a>
                            </li>
                        }
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="nav-link" asp-controller="UserAssignment" asp-action="ShowUserAssignments" 
                           asp-route-userName="@User.Identity.Name">@User.Identity.Name</a>
                        <form method="post" asp-controller="Account" asp-action="Logout">
                            <input type="submit" value="Logout" class="btn btn-outline-secondary"/>
                        </form>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </header>
    <div class="container mt-5">
        @RenderBody()
    </div>
    <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>© 2020 Vovchenko · <a href="#">Privacy</a></p>
    </footer>
</body>
</html>
