@model AssignmentListViewModel
<div class="container">
    @foreach (var assignment in Model.AllAssignments)
    {
        <div class="alert alert-warning mt-3">
            <b>Assigmnent:</b> @assignment.Name<br />
            <b>Start Time:</b> @assignment.StartTime<br />
            <p><a class="btn btn-sm btn-primary" asp-controller="UserAssignment" 
                  asp-action="AddToUser" asp-route-userId="@Model.UserId" asp-route-assignmentId="@assignment.Id">Add</a></p>
        </div>
    }
</div>
